@import './transition.scss';

html,
body {
  height: 100%;
  &::-webkit-scrollbar{ 
    width:0;
  }
}

#app {
  color: #000;
  height: 100%;
  background-image: linear-gradient(252.99deg, #4e6092 2.59%, #1e2338 98.72%);
  overflow-y: scroll;
  &::-webkit-scrollbar{ 
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
  }
  /* 滚动条滑块 */
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  }
}

.main{

}


.jk-mask {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.display-area{
  background-color: #fff;
  min-height: 2000px;
  padding: 1rem;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
}


.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
.container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
 .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
.container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
   .container {
    max-width: 1320px;
  }
}